.container {
	background-color: black;
  display: grid;
  grid-template-columns: repeat(40, 1fr); 
}

.square {
	width: 20px; 
	  height: 20px; 
  background-color: lightgray; 

  transition: background-color 1s; 
}

.square:hover {
  background-color:blueviolet; 
}