.container {
	width:100%;
	background-color: #111111 rgb(17 17 17);
  display: grid;
  grid-template-columns: repeat(40, 1fr); 
	grid-template-rows: repeat(20, 1fr);
	
}

.square {
	width: 11px; 
	  height: 11px; 
	margin:1px;
  background:#1D1D1D rgb(29 29 29);
  transition: background-color 1s; 
}

.square:hover {
  background-color:blueviolet; 
}